body {
    font-size: 14pt;
    padding: 2rem;
    font-family: "MS Reference Sans Serif";
}
table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}
.container {
    margin-bottom: 2rem;
}