body {
    box-sizing: border-box;
    margin: 0;
}
.block {
    width: 40px;
    height: 40px;
    margin: 1px;
    cursor: pointer;
}
.palette {
    margin: 50px auto; 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 396px;
}
.text {
    margin: 0 50px 0 50px;
}